<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-form">
    <div class="centered-content">
      <ion-label class="message-label custom-font">Bienvenido {{ mensaje }}</ion-label>
      <div class="logo-container">
        <ion-img class="logoDuoc" src="assets/imagenes/logoDuoc.png"></ion-img>
      </div>

      <!-- Botón Asistencia -->
      <ion-button expand="full" color="primary" [routerLink]="['/asistencia']">
        <ion-icon name="person" slot="start"></ion-icon>
        Asistencia
      </ion-button>

      <!-- Botón Escanear QR -->
      <ion-button expand="full" color="primary">
        <ion-icon name="camera" slot="start"></ion-icon>
        Escanear QR
      </ion-button>

      <!-- Botón Cerrar Sesión -->
      <ion-button expand="full" color="danger" [routerLink]="['/login']" >
        <ion-icon name="log-out" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </div>
  </div>
</ion-content>





